<app-goiburukoa></app-goiburukoa>

<ion-content [fullscreen]="true">
  <!-- Leer todas las preguntas del cuestionario-->
  <ion-list>
    <ion-item>
      <img src="../../assets/icon/volkswagen.jpg">
      <!-- Añadir ion-badge para el caso de acertar la respuesta, contador de intentos y mostrar todos los intentos incorrectos
      -- 1-Si se acierta: Poner color success y mostrarlo a la derecha de la página (ver-> slot)
      -- 2-Si se falla: Poner color danger y mostrarlo a la derecha de la página (ver-> slot)
      -- 3-Si hay intentos incorrectos, mostrarlos con color warning y mostrarlo a la derecha de la página (ver-> slot)
      -->

      <!-- Añadir botón para responder mediante un-->
      <ion-button slot="end">ERANTZUN</ion-button>
    </ion-item>
    
    <ion-item>
      <img src="../../assets/icon/apple.jpg">

      <ion-button slot="end">ERANTZUN</ion-button>
    </ion-item>

    <ion-item>
      <img src="../../assets/icon/Shell.jpg">

      <ion-button slot="end">ERANTZUN</ion-button>
    </ion-item>

    <ion-item>
      <img src="../../assets/icon/starbucks.jpg">

      <ion-button slot="end">ERANTZUN</ion-button>
    </ion-item>
  </ion-list>
  <!--Botón de guardar el cuestionario-->
  <div class="zentratua">
    <ion-button>GALDETEGIA GORDE</ion-button>
  </div>
  
</ion-content>
